AI-Content-Automation/Article2Notion.json
{
  "name": "Article2Notion",
  "nodes": [
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"原始內容\": \"使用者原始輸入內容\",\n  \"改寫內容\": \"AI改寫後的內容\",\n  \"文章狀態\": \"編輯中\",\n  \"發送平台\": \"Threads\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        16,
        -272
      ],
      "id": "fd275c45-0524-4e86-b6c4-3092ef053cac",
      "name": "輸出改寫結果"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -352,
        -112
      ],
      "id": "5688d80b-1a12-416d-95c1-6bc08bb7800b",
      "name": "When chat message received",
      "webhookId": "3dfaa55b-5236-409c-89a4-bdda08148416"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "379rCPBTMbbpvnLl",
          "mode": "list",
          "cachedResultUrl": "/workflow/379rCPBTMbbpvnLl",
          "cachedResultName": "Notion2Public"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1120,
        -592
      ],
      "id": "36c9104d-8a25-47ad-9bd9-ae9c69984aa5",
      "name": "Call 'Notion2Public'"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "28277348-359f-80f4-a34c-ed08295f6945",
          "mode": "list",
          "cachedResultName": "Jason文章資料庫",
          "cachedResultUrl": "https://www.notion.so/28277348359f80f4a34ced08295f6945"
        },
        "title": "={{ $('AI Agent_內容改寫').item.json.output['原始內容'] }}",
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "改寫內容|rich_text",
              "textContent": "={{ $('AI Agent_內容改寫').item.json.output['改寫內容'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        672,
        -496
      ],
      "id": "261873ad-09b3-4c19-bac8-8af6fc32ad56",
      "name": "Notion_文章資料庫",
      "credentials": {
        "notionApi": {
          "id": "IfXHWlpOUmNjww4Y",
          "name": "Notion (Jason)"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/customsearch/v1",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.q }}"
            },
            {
              "name": "key",
              "value": "AIzaSyAqfQMg4_nKBc031kHDeGKU4mgwQ9-XcFM"
            },
            {
              "name": "cx",
              "value": "83df6ebadd8084cbc"
            },
            {
              "name": "num",
              "value": "5"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -576,
        -688
      ],
      "id": "0b6d5fa8-bcfd-4375-b491-1adab2b0f8f2",
      "name": "Google搜尋新聞"
    },
    {
      "parameters": {
        "jsCode": "const items = $json.items || [];\nconst formatted = items.map((x, i) => {\n  return `#${i + 1}\nTitle: ${x.title}\nSnippet: ${x.snippet}\nURL: ${x.link}`;\n}).join(\"\\n\\n\");\n\nreturn [{ json: { message: formatted } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        -688
      ],
      "id": "a8dddc22-667e-438a-9ed2-25baa75147c6",
      "name": "處理查詢資料"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 5,
              "triggerAtHour": 22,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1248,
        -688
      ],
      "id": "d156c272-0c7f-45ce-b873-a8f2e8658be0",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "8308632587",
        "message": "選擇主題",
        "responseType": "customForm",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Topic",
              "fieldType": "radio",
              "fieldOptions": {
                "values": [
                  {
                    "option": "n8n"
                  },
                  {
                    "option": "AI"
                  },
                  {
                    "option": "SA"
                  },
                  {
                    "option": "BA"
                  },
                  {
                    "option": "PM"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {
          "limitWaitTime": {
            "values": {
              "resumeAmount": 30,
              "resumeUnit": "minutes"
            }
          },
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1024,
        -688
      ],
      "id": "43ba617c-7860-4067-bb60-80acc7132e8d",
      "name": "選擇主題",
      "webhookId": "192f41ff-50a4-44b2-abc3-b1e76dd0af8e",
      "credentials": {
        "telegramApi": {
          "id": "9RXObWO3UQTYlHLQ",
          "name": "Telegram (Blackwaltz)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const topic = ($input.first().json.data.Topic || '').toUpperCase();\n\nconst queries = {\n  \"SA\": `\"system analysis\" OR \"systems analyst\" OR \"system design\" OR \"business system modeling\" OR \"workflow architecture\" automation OR AI`,\n  \"BA\": `\"business analysis\" OR \"business analyst\" OR \"requirements elicitation\" OR \"process improvement\" OR \"business automation\" OR \"digital transformation\"`,\n  \"PM\": `\"project management\" OR \"agile project\" OR \"PMO\" OR \"workflow management\" OR \"process optimization\" OR \"team productivity\"`,\n  \"AI\": `\"AI automation\" OR \"generative AI\" OR \"AI integration\" OR \"AI workflow\" OR \"AI in business\" OR \"AI tools\"`,\n  \"n8n\": `\"n8n automation\" OR \"n8n workflow\" OR \"low-code automation\" OR \"open source automation\" OR \"workflow automation\" OR \"n8n integrations\"`\n};\n\n// 預設若輸入不在清單內，就抓通用 AI workflow\nconst q = queries[topic] || `\"AI automation\" OR \"workflow automation\" OR \"process improvement\"`;\n\nreturn [{ json: { topic, q } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        -688
      ],
      "id": "bcb3d5a3-9501-4307-bafb-119eaf692a1e",
      "name": "轉換查詢關鍵字"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -800,
        -400
      ],
      "id": "0344441f-4c8b-4207-8e61-3e9be639c225",
      "name": "Telegram Trigger",
      "webhookId": "f5803cbc-1a6f-4d80-ac12-5bce48464a54",
      "credentials": {
        "telegramApi": {
          "id": "9RXObWO3UQTYlHLQ",
          "name": "Telegram (Blackwaltz)"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "Who are you?",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -352,
        -304
      ],
      "id": "cca7bbc0-ab7e-4854-ae6d-21a7d8234a5c",
      "name": "非授權使用者",
      "webhookId": "49920952-b8dd-4267-af8c-b2b95cfd1c0f",
      "credentials": {
        "telegramApi": {
          "id": "9RXObWO3UQTYlHLQ",
          "name": "Telegram (Blackwaltz)"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f463ecf4-6784-4bb9-a688-aa6b0c62ce2a",
              "leftValue": "={{ $json.message.from.id }}",
              "rightValue": 8308632587,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -576,
        -400
      ],
      "id": "060974f3-4749-43e6-b81b-a29d56b0a66d",
      "name": "確認是否本人"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0cf4e3cb-2819-445b-952b-aaaf4b7cc3fe",
              "name": "message",
              "value": "={{ $('Telegram Trigger').item.json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -352,
        -496
      ],
      "id": "db2135b9-e9a9-4fa3-b469-9e7f458e3e1d",
      "name": "資料整理"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "8308632587",
        "message": "=是否確定發送如下內容：\n{{ $json.output['改寫內容'] }}",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        224,
        -496
      ],
      "id": "93c5cdd6-235b-4d59-a451-693c6fe3d917",
      "name": "傳送文章內容",
      "webhookId": "1ea0b24a-8ced-46d3-acdb-3e35631b2c35",
      "credentials": {
        "telegramApi": {
          "id": "9RXObWO3UQTYlHLQ",
          "name": "Telegram (Blackwaltz)"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "75c6675c-df29-4297-8807-81f89c97509e",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        448,
        -496
      ],
      "id": "4805aeb7-19b2-4960-aaa0-41ac136a4a9f",
      "name": "審核文章內容"
    },
    {
      "parameters": {
        "chatId": "8308632587",
        "text": "文章儲存失敗",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        896,
        -400
      ],
      "id": "153f23fb-e02f-45a0-a237-c8485867200d",
      "name": "文章儲存失敗",
      "webhookId": "49920952-b8dd-4267-af8c-b2b95cfd1c0f",
      "credentials": {
        "telegramApi": {
          "id": "9RXObWO3UQTYlHLQ",
          "name": "Telegram (Blackwaltz)"
        }
      }
    },
    {
      "parameters": {
        "chatId": "8308632587",
        "text": "文章儲存成功",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        896,
        -592
      ],
      "id": "c06b26fd-28ae-4800-9b2c-44a88946f2df",
      "name": "文章儲存成功",
      "webhookId": "49920952-b8dd-4267-af8c-b2b95cfd1c0f",
      "credentials": {
        "telegramApi": {
          "id": "9RXObWO3UQTYlHLQ",
          "name": "Telegram (Blackwaltz)"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -128,
        -272
      ],
      "id": "5f7a3d59-428c-4fd6-b3de-d40a45da8a18",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ubbMdTCfQ0zY4XC3",
          "name": "OpenAi (Jason)"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message || $json.chatInput}}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are Jason, a System Analyst & Automation Consultant.\nRewrite the given text into a concise LinkedIn post that sounds professional, natural, and grounded in the provided content only.\n\nStrict Rules (Very Important)\n\nDo NOT invent experiences, situations, or actions that are not explicitly mentioned in the input.\n\nDo not assume what Jason has or hasn’t done.\n\nOnly rephrase, clarify, or lightly reflect on what is actually stated.\n\nVoice\n\nCalm, thoughtful, peer-level — like a professional sharing an observation, not teaching or selling.\n\nNo AI polish, no motivational tone, no exaggerated confidence.\n\nCommercial intent must feel incidental, not promotional.\n\nStyle\n\nStart with a specific observation, friction, or question related to the content.\n\nShort paragraphs (2–3 lines) with \\n\\n breaks.\n\nEmojis: 0–1 max, only if it truly fits.\n\nUnder 300 words.\n\nEnd with an open-ended, discussion-style question.\n\nSoft Commercial Hint (Optional, Subtle)\n\nIf relevant, you may include one light sentence that sounds like conversation, not advertising.\nExamples:\n\n“I’ve noticed a few people asking about customizing n8n workflows lately—curious if others are exploring this too.”\n\n“If anyone is dealing with a similar automation setup, I’m happy to exchange notes.”\n\n⚠️ Do NOT use phrases like:\n\n“I offer services”\n\n“Feel free to contact me”\n\n“DM me for consulting”\n\n“I help businesses…”\n\nHashtags\n\nAdd 2–3 understated hashtags only.\n\n**Language:** American English."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -128,
        -496
      ],
      "id": "8a7f3664-e60c-45e8-877a-f6a1146fa768",
      "name": "AI Agent_內容改寫",
      "retryOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "輸出改寫結果": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent_內容改寫",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent_內容改寫",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion_文章資料庫": {
      "main": [
        [
          {
            "node": "文章儲存成功",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "文章儲存失敗",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google搜尋新聞": {
      "main": [
        [
          {
            "node": "處理查詢資料",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "處理查詢資料": {
      "main": [
        [
          {
            "node": "AI Agent_內容改寫",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "選擇主題",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "選擇主題": {
      "main": [
        [
          {
            "node": "轉換查詢關鍵字",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "轉換查詢關鍵字": {
      "main": [
        [
          {
            "node": "Google搜尋新聞",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "確認是否本人",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "確認是否本人": {
      "main": [
        [
          {
            "node": "資料整理",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "非授權使用者",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "資料整理": {
      "main": [
        [
          {
            "node": "AI Agent_內容改寫",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "傳送文章內容": {
      "main": [
        [
          {
            "node": "審核文章內容",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "審核文章內容": {
      "main": [
        [
          {
            "node": "Notion_文章資料庫",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "文章儲存成功": {
      "main": [
        [
          {
            "node": "Call 'Notion2Public'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent_內容改寫",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent_內容改寫": {
      "main": [
        [
          {
            "node": "傳送文章內容",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Taipei",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "73c5eb58-3236-4519-b113-eae5fd23100e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "69027400dd16108b9045762c1ec7a026e2668afe1165bbd00b0f9a22bbb39009"
  },
  "id": "XoVV4AtpNkz37NGA",
  "tags": []
}